/** MelonJS **/

body {
	background-color: #000;
	color: #fff;

	/* Allow mouse dragging. */
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	/* disable touch panning/zooming */
	-ms-touch-action: none;
	touch-action: none;

	/* Allow canvas to hit the edges of the browser viewport. */
	margin: 0;
}

#screen canvas {
	margin: auto;

	/* Hide the gap for font descenders. */
	display: block;

	/* disable scaling interpolation */
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

/** PuzzleBox **/

#puzzleBox {
    width: 300px;
    padding: 10px;
    color: black;
    background-color: #66CC66;
    position: absolute;
}

#puzzleBox .notes {
    font-size: small;
    line-height: 1.5;
}

#puzzleBox .pattern {
    width:150px;
}

#puzzleBox .regexpFlags {
    width:15px;
}

#puzzleBox .resultSection {
    height: 24px;
}

#puzzleBox #rightAnswer,
#puzzleBox #wrongAnswer {
    height: 22px;
    width: 24px;
    float: left;
}

#puzzleBox .result {
    float: left;
    padding-left: 5px;
}