/** MelonJS **/

body {
	background-color: #000;
	color: #fff;

	/* Allow mouse dragging. */
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	/* disable touch panning/zooming */
	-ms-touch-action: none;
	touch-action: none;

	/* Allow canvas to hit the edges of the browser viewport. */
	margin: 0;
}

#screen {
    margin: 10px;
}

#screen canvas {
	margin: auto;

	/* Hide the gap for font descenders. */
	display: block;

	/* disable scaling interpolation */
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

a {
    color: #66CC66;
}

/** Instructions **/

#instructions {
    text-align: center;
}

#instructions p {
    margin: 3px;
}

#instructions .key {
    font-weight: bold;
    color: #66CC66;
}

#credits {
    text-align: center;
}

.notice {
    color: #cc0000;
    text-align: center;
}

.notice a {
    color: #cc0000;
}

/** Dialogs **/

.dialog {
    color: black;
    background-color: #66CC66;
    position: absolute;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.dialog a {
    color: black;
}

/** PuzzleBox **/

#puzzleBox {
    width: 380px;
    height: 100px;
    padding: 10px;
    text-align: center;
}

#puzzleBox #zombieText {
    height: 48px;
}

#puzzleBox .resultSection {
    height: 24px;
}

#puzzleBox .inputSection {
    height: 24px;
}

#puzzleBox .pattern {
    width:200px;
}

#puzzleBox .regexpFlags {
    width:20px;
}

#puzzleBox #rightAnswer,
#puzzleBox #wrongAnswer {
    height: 22px;
    width: 24px;
    float: left;
}

#puzzleBox .result {
    float: left;
    padding-left: 5px;
}

/** Help Window **/

#help {
    width: 380px;
    height: 308px;
    padding: 10px;
}
